@font-face {
    font-family: 'norwester';
    src: url('norwester-webfont.woff2') format('woff2'),
    url('norwester-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}